.deletePostPrompt {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  color: black;
  background-color: rgba(245, 245, 245, 0.9);
}

.deletePostActions {
  display: flex;
  gap: 10px;
}

/* mobile styles */
@media only screen and (max-width: 400px) {
  .deletePostWarning {
    font-size: 0.75em;
  }
}

/* tablet styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  .deletePostWarning {
    font-size: 0.75em;
  }
}

/* desktop styles */
@media only screen and (min-width: 961px) {
}
