* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'source';
}

body {
  background-color: whitesmoke;
}

input,
textarea {
  padding: 4px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: whitesmoke;
}

input:focus,
textarea:focus {
  outline: 2px solid rgba(116, 43, 226, 0.3);
}

@font-face {
  font-family: 'source';
  src: url('../fonts/source-code-pro/SourceCodePro-Light.otf');
}

@font-face {
  font-family: 'source-bold';
  src: url('../fonts/source-code-pro/SourceCodePro-MediumIt.otf');
}

.labelButton {
  display: flex;
  align-items: center;
  align-content: center;
  margin: 1vh 0 1vh 0;
  user-select: none;
}

.solidButton {
  justify-content: center;
  height: 30px;
  width: 70px;
  font-size: 0.75em;
  border: 1px solid black;
  border-radius: 10px;
  background-color: rgba(116, 43, 226, 0.1);
}

.solidButton:hover {
  background-color: rgba(116, 43, 226, 0.25);
  cursor: pointer;
}

.button:hover {
  color: rgb(116, 43, 226);
  cursor: pointer;
}

.header {
  display: none;
  position: sticky;
  top: 0;
  justify-content: space-between;
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
  margin: 0 1vw 1vh 1vw;
  background-color: whitesmoke;
}

#page {
  display: flex;
}

.sidebar {
  display: none;
  position: fixed;
  flex-direction: column;
  margin-left: 1vw;
  margin-right: 2vw;
  width: 200px;
}

.profileButton {
  margin-top: 3vh;
}

.feedPage {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  gap: 5vh;
  margin-top: 7vh;
  align-items: center;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 1vh;
  border: 1px solid black;
  border-radius: 10px;
  overflow: hidden;
  width: 75vw;
  max-width: 400px;
}

.formItem {
  margin-top: 1vh;
}

/* mobile styles */
@media only screen and (max-width: 400px) {
  .header {
    display: flex;
  }
}

/* tablet styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  .header {
    display: flex;
  }
}

/* desktop styles */
@media only screen and (min-width: 961px) {
  .siteBanner {
    display: flex;
  }
  .sidebar {
    display: flex;
  }
}
