.newPost {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 10px;
  z-index: 1;
  /* this allows for posts to slide behind the top of the new post textarea
  but disappear at the bottom of the textarea: */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), whitesmoke 75%);
  transition: opacity 0.75s ease-out /* , max-height 1s linear */;
  opacity: 1;
}

.newPostBody {
  resize: none;
  /* this allows for the textarea highlight to layer over the 
  background color of the postActions class: */
  z-index: 1;
}

.postActions {
  display: flex;
  align-items: center;
}

.charLeft {
  cursor: default;
  user-select: none;
  min-width: 30px;
}

.cancelNewPost {
  width: 40px;
}

/* mobile styles */
@media only screen and (max-width: 400px) {
  .newPost {
    margin-top: 1vh;
    height: 165px;
    width: 100%;
    align-items: center;
  }
  .newPostBody {
    height: 80%;
    width: 90%;
  }
  .newPostActions {
    width: 100%;
    justify-content: center;
  }
  .charLeft {
    text-align: center;
  }
}

/* tablet styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  .newPost {
    margin-top: 2vh;
    height: 165px;
    width: 100%;
    align-items: center;
  }
  .newPostBody {
    height: 80%;
    width: 90vw;
    max-width: 500px;
  }
  .newPostActions {
    width: 100%;
    justify-content: center;
  }
  .charLeft {
    text-align: center;
  }
}

/* desktop styles */
@media only screen and (min-width: 961px) {
  .newPost {
    margin-top: 5vh;
    height: 250px;
    width: 100%;
  }
  .newPostBody {
    height: 80%;
    width: 100%;
  }
}
