.newReply {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: -3vh 0 0 10%;
  border-radius: 10px;
  z-index: 1;
  /* this allows for Replys to slide behind the top of the new Reply textarea
    but disappear at the bottom of the textarea: */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), whitesmoke 75%);
}

.newReplyBody {
  resize: none;
  /* this allows for the textarea highlight to layer over the 
    background color of the ReplyActions class: */
  z-index: 1;
}

.postActions {
  display: flex;
  align-items: center;
}

.newReplyActions {
  text-align: center;
}

.charLeft {
  cursor: default;
  user-select: none;
  min-width: 30px;
}

.cancelNewReply {
  width: 40px;
}

/* mobile styles */
@media only screen and (max-width: 400px) {
  .newReplyBody {
    height: 75px;
  }
  .charLeft {
    text-align: center;
  }
}

/* tablet styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  .newReplyBody {
    height: 90px;
  }
  .charLeft {
    text-align: center;
  }
}

/* desktop styles */
@media only screen and (min-width: 961px) {
  .newReplyBody {
    height: 90px;
  }
}
