.post {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 10vh;
  width: 70vw;
  max-width: 500px;
  border: 1px solid black;
  border-radius: 10px;
  overflow: hidden;
  cursor: default;
  background-color: rgb(232, 226, 244);
}

.postHeader {
  margin: 2px 4px 2px 4px;
  display: flex;
}

.postUserPicture,
.postUsername,
.postTime {
  display: inline-flex;
  align-items: center;
}

.postUsername {
  font-family: 'source-bold';
}

.postBody {
  padding: 2px 4px 2px 4px;
  background-color: whitesmoke;
}

.postActions {
  width: 100%;
  background-color: whitesmoke;
  user-select: none;
}

.postLike,
.postDelete {
  display: inline-flex;
  align-items: center;
  font-size: 0.75em;
  margin: 2px 4px 2px 4px;
}

.postLikeButton {
  font-size: 1.2em;
}

.postDelete {
  margin-left: auto;
}

.postDeleteButton:hover {
  cursor: pointer;
  color: rgb(255, 64, 0);
}

/* mobile styles */
@media only screen and (max-width: 400px) {
  .postBody {
    font-size: 1em;
  }
}

/* tablet styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  .postBody {
    font-size: 1em;
  }
}

/* desktop styles */
@media only screen and (min-width: 961px) {
  .postBody {
    font-size: 1.25em;
  }
}
