.sidebar {
  display: none;
  position: fixed;
  flex-direction: column;
  margin: 2vh 4vw 0 2vw;
  width: 220px;
  transition: opacity 0.75s ease-out;
  opacity: 0;
}

.fade {
  opacity: 1;
}

.sidebarProfile {
  display: flex;
}

.sidebarPicture {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 45px;
}

.sidebarImage {
  height: 39px;
  width: 39px;
  border-radius: 50%;
}

.sidebarButton {
  margin-left: 6px;
}

.newPostContainer {
  margin: 0 10px 0 10px;
}

/* the !important flag is necessary due to the way its fade transition is handled: */
@media only screen and (max-width: 400px) {
  .sidebar {
    display: none !important;
  }
}
@media only screen and (min-width: 401px) and (max-width: 960px) {
  .sidebar {
    display: none !important;
  }
}

/* desktop styles */
@media only screen and (min-width: 961px) {
  .sidebar {
    display: flex;
  }
}
